betterproto>=1.2.3
click==7.1.2
docker>=4.2.0
fastapi<=0.61.2,>=0.58.0
GPUtil==1.4.0
grpcio>=1.27.2
humanize>=3.0.1
hummingbird-ml>=0.0.6
lightgbm==2.3.0
mongoengine>=0.19.1
numpy<1.19.0,>=1.16.0
onnx==1.6.0
opencv-python>=3.1.0
onnxconverter-common>=1.6.0
onnxmltools>=1.6.0
onnxruntime==1.2.0
py-cpuinfo>=6.0.0
pydantic<2.0.0,>=0.32.2
pymongo==3.11.2
pytest>=5.4.1
pytest-env==0.6.2
pytorch-lightning==1.1.4
PyYAML==5.3.1
requests>=2.23.0
rich==9.1.0
setuptools>=46.4.0
scikit-learn==0.23.2
starlette<=0.13.6,>=0.13.4
tensorflow>=2.1.2
torchvision==0.6.0
torchviz==0.0.1
tensorflow-serving-api>=2.1.0
typer>=0.3.2
typer-cli>=0.0.11
toolz==0.10.0
torch>=1.5.0
tqdm==4.55.1
uvicorn>=0.11.5
xgboost==1.2.0
Jinja2==2.11.2
pycuda==2020.1
tensorrtserver==1.11.0
tf2onnx==1.8.3
