betterproto>=1.2.3
click==7.1.2
docker>=4.2.0
fastapi>=0.58.0
GPUtil==1.4.0
grpcio>=1.27.2
humanize==3.1.0
hummingbird-ml>=0.0.7
lightgbm==2.3.0
mongoengine==0.19.1
numpy<1.19.0,>=1.16.0
onnx==1.6.0
opencv-python>=3.1.0
onnxconverter-common==1.7.0
onnxmltools==1.7.0
onnxruntime==1.2.0
py-cpuinfo>=6.0.0
pydantic==1.7.1
pytest>=5.4.1
pytest-env==0.6.2
PyYAML==5.3.1
requests>=2.23.0
rich==9.1.0
scikit-learn==0.23.2
starlette==0.13.6
tensorflow>=2.1.2
tensorflow-serving-api>=2.1.0
toolz==0.10.0
torch>=1.5.0
torchvision>=0.6.0
setuptools>=46.4.0
uvicorn>=0.11.5
xgboost==1.2.0
