[remote_storage]
# configuration for cloud storage of model
storage_type = S3
aws_access_key_id = SAMPLEKEY
aws_secret_access_key = SAMPLEACCESSKEY
bucket_name = ferdinand-own-bucket
remote_model_path = test-objects/naturallanguageprocessingwithpytorch.pdf

[model]
# local model path for storing model after pulling it from cloud
local_model_dir = /models
local_model_name = naturallanguageprocessingwithpytorch.pdf

[deployment]
# deployment detailed configuration
name = sample_deployment
namespace = default
replicas = 1
engine = TORCHSCRIPT
device = cuda:1
batch_size = 16
