.ant-col-offset-2 {
    margin-top: 20px;
}

.ant-col-12 .ant-table-thead, .mega-layout-item-content .ant-table-thead{
    display: none;
}


.ant-col-12 .ant-table table{
    border-spacing: 0 15px;
}
.ant-table{
    background: transparent;
}

.ant-tag{
    height: 40px;
    border-radius:30px;
    min-width: 80px;
    text-align: center;
    padding-top: 10px;
    background-color: transparent;
}