@import '~antd/dist/antd.css';

/* Dashboard */
.column {
  font-size: 20px;
}

.ant-tag {
  font-size: 20px;
}

.ant-table-placeholder, .ant-empty-normal {
  display: none;
}

.ant-table-row-level-0 > .ant-table-cell {
  padding-top: 0;
}

.ant-descriptions-item-label, .ant-descriptions-title{
  font-size: 20px;
  white-space: 'nowrap';
}


/* ModelRegister */
.array-item-operator{
  padding-left: 0.5em;
}
.array-item-operator > button:nth-child(2), .array-item-operator > button:nth-child(3) {
  display: none;
}

.mega-layout-item-content .ant-table-tbody > tr > td {
  padding: 0 0
}

.mega-layout-item-content .ant-table-tbody > tr > td:nth-child(1) {
  padding: 0 5px
}


#modelRegisterForm .ant-row {
    margin-bottom: 0;
}

.ant-form-item-control-input-content .mega-layout-item-content{
    display: block;
}

.ant-form-item-label label, label.ant-checkbox-wrapper{
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.ant-divider-horizontal.ant-divider-with-text-left::before{
  display: none;
}

h3.ant-typography{
  margin-top: 0.5em;
}

.ant-divider-inner-text, .ant-page-header{
  padding-left: 0;
}


/* Version Tree*/
.ant-col-offset-2 {
    margin-top: 20px;
}

#versiontable .ant-table-thead, .mega-layout-item-content .ant-table-thead{
    display: none;
}


#versiontable .ant-table table{
    border-spacing: 0 15px;
}
.ant-table{
    background: transparent;
}

.ant-tag{
    height: 40px;
    border-radius:30px;
    min-width: 80px;
    text-align: center;
    padding-top: 10px;
    background-color: transparent;
}

.panel >.MuiFormControl-root > .MuiBox-root {
    display: none;
}

.ant-upload-text{
    visibility: hidden;
    position: relative;
}
.ant-upload-text:after{
    content: 'Click or drag file to this area to upload';
    visibility: visible;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.mega-layout-item-content > span {
    display: block;
    width: 100%
}
.ant-form-item-label > label {
    font-size: medium;
}

.ant-row > span {
    font-size: medium;
}