.panel >.MuiFormControl-root > .MuiBox-root {
    display: none;
}

.ant-upload-text{
    visibility: hidden;
    position: relative;
}
.ant-upload-text:after{
    content: 'Click or drag file to this area';
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}