name: Build

on:
  push:
    branches: [ master ]
    paths-ignore:
    - 'frontend/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
    - 'frontend/**'
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo
        ports:
        - 27017:27017
    env:
      MONGO_HOST: localhost
      MONGO_PORT: 27017
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    
    - name: Configure MongoDB
      run: mongo modelci --eval 'db.createUser({user:"modelci",pwd:"modelci@2020",roles:["readWrite"]});'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install flake8 pytest
        pip install requests==2.23.0
        pip install -r requirements.txt
      
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    
    - name: Test with pytest
      run: |
        python modelci/app/main.py
        python -m pytest tests/
